html {
    --theme-font-size: 18px;
    --theme-font: 'Lato', sans-serif;
    --theme-line-height: 1.33;
    --border-width: 0.125rem;
    --focus-outline: var(--border-width) solid var(--primary-color);
    --focus-outline-offset: var(--border-width);
    --component-margin: 0.25rem;
    --border-width-underline: 0.25rem;
    --border-radius: 0.5rem;

    --hover-darken: 8%;
    --active-darken: 16%;
    --small-shadow-opacity: 0.4;
    --disabled-background-opacity: 0.4;
    --disabled-text-opacity: 0.6;
    --contrast-threshold: 70%;

    --transition-base: 150ms;

    font-size: var(--theme-font-size);
    font-family: 'Lato', sans-serif;

}

body {
    display: flex;
    justify-content: center;
}
.main {
    padding: 5rem 5rem;
    min-width: min-content;
}
.icon-list {
    max-width: 50%;
    font-size: 24px;
}
