html {
  --theme-font-size: 18px;
  --theme-font: "Lato", sans-serif;
  --theme-line-height: 1.33;
  --border-width: 0.125rem;
  --focus-outline: var(--border-width) solid var(--primary-color);
  --focus-outline-offset: var(--border-width);
  --component-padding: 0.25rem 0.25rem;
  --border-width-underline: 0.25rem;
  --border-radius: 0.25rem;

  --hover-darken: 8%;
  --active-darken: 16%;
  --small-shadow-opacity: 0.2;

  --disabled-background-opacity: 0.4;
  --disabled-text-opacity: 0.6;
  --contrast-threshold: 70%;
  --transition-base: 150ms;

  --content-panel-padding: 1.5rem;
  --content-panel-margin: 1rem 1rem;

  font-size: var(--theme-font-size);
  font-family: var(--theme-font);
}

body {
  display: flex;
  justify-content: center;
  transition: background-color ease-in-out calc( var(--transition-base) * 0.5), opacity ease-in-out calc( var(--transition-base) * 0.5);
  opacity: 0;
  background-color: var(--background-color-secondary);
}


.icon-list {
  max-width: 50%;
  font-size: 24px;
}

.component-list {
  display: flex;
}

.component-list > * {
  width: 22rem;
  max-width: 22rem;
}

.color-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}


.color-block-background {
    display: flex;
    background-color: var(--color);
    position: relative;
    min-width: 8rem;
    height: 12rem;
    padding: 0.25rem 1rem;
    margin: 0.25rem;
    border: var(--border-width) solid var(--grey-shade-4);
}
.color-block {
    --color-1: hsla(0, 0%, 100%);
    --color-2: hsl(0, 0%, calc(100% - var(--hover-darken)));
    --color-3: hsl(0, 0%, calc(100% - var(--active-darken)));
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: -0.25rem -1rem;
    background-image: linear-gradient(
  180deg,
  var(--color-1) 0%,
  var(--color-1) 33%,
  var(--color-2) 33%,
  var(--color-2) 66%,
  var(--color-3) 66%,
  var(--color-3) 100%
);
}
